# Игнорируем виртуальные окружения
.venv/
venv/
env/
env.bak/

# Игнорируем файлы конфигурации окружения
.env
*.env

# Игнорируем кэшированные файлы Python
__pycache__/
*.pyc
*.pyo

# Игнорируем временные файлы
*.log
*.tmp
*.temp

# Игнорируем файлы IDE и редакторов
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Игнорируем файлы сборки и дистрибутивы
build/
dist/
*.egg-info/

# Игнорируем другие временные и кэшированные файлы
*.coverage
.coverage.*
.cache
